.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-items-center {
  justify-items: center;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

/* Header styles */
.header .brand-logo {
  position: static;
}

.header .сurrency-select input.select-dropdown {
  margin: 0;
  color: white;
  border-bottom: none;
}

.header .сurrency-select input.select-dropdown:focus {
  border-bottom: none;
}

.header .сurrency-select {
  width: 150px;
}

.header .сurrency-select .caret {
  fill: white;
}

.header .brand-logo {
  font-size: 1.5rem;
}